name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: blacksmith-8vcpu-ubuntu-2404

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Lix
        uses: canidae-solutions/lix-quick-install-action@v3

      - name: Run linters
        run: nix run .#lint -- .
